{% extends "base.html" %}
{% block content %}
	<section class="w-full max-w-3xl pt-4 z-10">
		<header class="flex flex-row justify-between items-center relative">
			<h2 class="text-lg sm:text-base font-bold">Your Closet</h2>

			<section class="flex flex-row">
				<button class="flex flex-row items-center text-sm p-2 hover:bg-zinc-200 rounded min-w-16 dark:hover:bg-zinc-800" onclick="toggleFiltersMenu(event)">
					<i class="las la-filter text-xl mr-1"></i>
					Filters
				</button>	
				<ul class="hidden absolute left-0 top-full translate-y-4 p-4 bg-zinc-200 rounded flex flex-col w-full col-span-2 sm:w-auto sm:left-auto sm:right-0 z-20 dark:bg-zinc-800" id="filters-menu">
					<form hx-post="/closet/filter" hx-swap="innerHTML" hx-target="#clothing-list" class="flex flex-col">
						<label for="type-input" class="text-sm font-medium mb-1">Type</label>
						<select name="type" id="type-input"
							{% if data['error'] == True %}
								class="text-sm p-2 border border-red-500 rounded mb-2 bg-white dark:bg-transparent">
							{% else %}
								class="text-sm p-2 border border-zinc-400 rounded mb-2 bg-white dark:bg-transparent dark:border-zinc-600">
							{% endif %}
							<option value="all" selected>All</option>
							<option value="cap">Cap</option>
							<option value="coat">Coat</option>
							<option value="dress">Dress</option>
							<option value="hoodies">Hoodies</option>
							<option value="jacket">Jacket</option>
							<option value="pants">Pants</option>
							<option value="shoes">Shoes</option>
							<option value="shorts">Shorts</option>
							<option value="shirt">Shirt</option>
							<option value="skirt">Skirt</option>
							<option value="sweater">Sweater</option>
							<option value="tie">Tie</option>
							<option value="t-shirt">T-Shirt</option>
						</select>
						<p class="col-start-1 col-end-2 flex flex-col">
							<label for="brand-input" class="text-sm font-medium mb-1">Brand</label>
							<input type="text" id="brand-input" name="brand" 
								{% if data['error'] == True %}
									class="text-sm p-2 border border-red-500 rounded mb-2 dark:bg-transparent">
								{% else %}
									class="text-sm p-2 border border-zinc-400 rounded mb-2 dark:bg-transparent dark:border-zinc-600">
								{% endif %}
						</p>
						<fieldset class="grid grid-cols-3 gap-1 flex-col items-start mb-2 col-start-1 col-end-2">
							<legend class="text-sm font-medium mb-1">Colors</legend>
							<p class="text-sm">
								<input type="checkbox" name="color" value="white" id="color-white" class="accent-zinc-200">
								<label for="color-white">White</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="gray" id="color-gray" class="accent-zinc-400">
								<label for="color-gray">Gray</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="black" id="color-black" class="accent-black">
								<label for="color-black">Black</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="red" id="color-red" class="accent-red-600">
								<label for="color-red">Red</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="blue" id="color-blue" class="accent-blue-600">
								<label for="color-blue">Blue</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="yellow" id="color-yellow" class="accent-yellow-400">
								<label for="color-yellow">Yellow</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="orange" id="color-orange" class="accent-orange-600">
								<label for="color-orange">Orange</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="green" id="color-green" class="accent-green-600">
								<label for="color-green">Green</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="purple" id="color-purple" class="accent-purple-600">
								<label for="color-purple">Purple</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="pink" id="color-pink" class="accent-pink-600">
								<label for="color-pink">Pink</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="brown" id="color-brown" class="accent-yellow-950">
								<label for="color-brown">Brown</label>
							</p>
							<p class="text-sm">
								<input type="checkbox" name="color" value="cyan" id="color-cyan" class="accent-cyan-600">
								<label for="color-cyan">Cyan</label>
							</p>
						</fieldset>
						<button class="w-full p-2 bg-zinc-950 text-white font-medium text-sm rounded hover:bg-zinc-800 mt-2 col-start-1 col-end-2 dark:bg-white dark:text-black dark:hover:bg-zinc-200">Apply</button>
					</form>
				</ul>
				<a href="/closet/new" class="text-sm text-center font-medium text-white ml-5 p-2 bg-zinc-950 hover:bg-zinc-800 rounded min-w-16 flex flex-row items-center dark:bg-white dark:text-black dark:hover:bg-zinc-200" onclick="showLoadingBar()">
					<i class="las la-plus text-xl mr-1"></i>
					Add clothes 
				</a>
			</section>
		</header>
		<section class="grid grid-cols-2 gap-2 mt-4 sm:grid-cols-3 w-full" id="clothing-list">
			{% if data['closet']|length != 0 %}
				{% include 'components/clothing-item.html' %}
			{% else %}
				<h3 class="font-medium col-start-1 col-end-3 sm:col-start-2 sm:col-end-3 text-center">
					You haven't added clothes yet!
				</h3>
			{% endif %}
		</section>
	</section>
	{% include 'components/delete-confirmation.html' %}
	<script src="/static/js/closet.js"></script>
{% endblock %}
