<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Outfit Designer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<script src="/js/htmx.min.js"></script>
	</head>
	<body>
		{% include 'components/navbar.html' %}
		<main class="flex justify-center w-full pt-[53px] p-2">
			<section class="w-full max-w-3xl pt-4">
				<header class="flex flex-row justify-between items-center">
					<h2 class="text-base font-bold">Your Closet</h2>

					<section class="flex flex-row">
						<button class="flex flex-row items-center text-sm p-2 hover:bg-zinc-200 rounded min-w-16">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 flex flex-row items-center mr-1">
								<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
							</svg>
							Filters
						</button>	
						<a href="/closet/new" class="text-sm text-center font-medium text-white ml-5 p-2 bg-zinc-950 hover:bg-zinc-800 rounded min-w-16 flex flex-row items-center">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 mr-1">
								<path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
							</svg>
							Add clothes 
						</a>
					</section>
				</header>
				<section class="grid grid-cols-3 gap-2 mt-4" id="clothing-list">
					{% if closet|length != 0 %}
						{% for clothing_item in closet %}
							{% include 'components/clothing-item.html' %}
						{% endfor %}
					{% else %}
						<h3 class="font-medium col-start-2 col-end-3 text-center">
							You haven't added clothes yet!
						</h3>
					{% endif %}
				</section>
			</section>
		</main>
	</body>
	<script src="/js/closet.js"></script>
</html>
