{% extends "base.html" %}
{% block content %}
	<section class="w-full max-w-3xl pt-4">
		<header class="flex flex-row justify-between items-center">
			<h2 class="text-lg sm:text-base font-bold">Your Closet</h2>

			<section class="flex flex-row">
				<button class="flex flex-row items-center text-sm p-2 hover:bg-zinc-200 rounded min-w-16">
					<i class="las la-filter text-xl mr-1"></i>
					Filters
				</button>	
				<a href="/closet/new" class="text-sm text-center font-medium text-white ml-5 p-2 bg-zinc-950 hover:bg-zinc-800 rounded min-w-16 flex flex-row items-center">
					<i class="las la-plus text-xl mr-1"></i>
					Add clothes 
				</a>
			</section>
		</header>
		<section class="grid grid-cols-2 gap-2 mt-4 sm:grid-cols-3 w-full" id="clothing-list">
			{% if data['closet']|length != 0 %}
				{% include 'components/clothing-item.html' %}
			{% else %}
				<h3 class="font-medium col-start-1 col-end-3 sm:col-start-2 sm:col-end-3 text-center">
					You haven't added clothes yet!
				</h3>
			{% endif %}
		</section>
	</section>
{% endblock %}
