<!DOCTYPE html>
<html lang="en">
	{% include 'components/head.html' %}
	<body>
		<header class="flex flex-row justify-center items-center p-3 w-full border-b fixed top-0 left-0 bg-white sm:p-2">
			<section class="flex flex-row justify-between items-center w-full max-w-2xl">
				<a href="/" class="font-bold text-base">Outfit Designer</a>
				<i id="menu-open" class="las la-bars text-2xl sm:scale-0"></i>
				<nav class="hidden items-center justify-center flex-col fixed w-full h-screen bg-white inset-0 sm:flex sm:static sm:w-auto sm:h-auto sm:flex-row" id="menu">
					<i id="menu-close" class="las la-times text-2xl fixed top-3 right-3 sm:scale-0"></i>
					<a href="/" class="text-2xl my-2 text-zinc-600 hover:text-zinc-950 ml-5 sm:text-sm sm:my-0">About</a>
					<a href="/" class="text-2xl my-2 text-zinc-600 hover:text-zinc-950 ml-5 sm:text-sm sm:my-0">Screenshots</a>
					<a href="#log-in" id="log-in" class="text-2xl my-2 text-center font-medium text-white ml-5 p-3 bg-zinc-950 min-w-32 hover:bg-zinc-800 rounded sm:min-w-16 sm:p-2 sm:text-sm sm:my-0">Log In</a>
				</nav>
			</section>
		</header>
		<main class="flex justify-center items-center w-full h-screen">
			<section class="p-2">
				<h1 class="text-2xl font-bold">Design your closet</h1>
			</section>
		</main>
		<section class="flex justify-center items-center w-full h-screen fixed top-0 left-0 bg-zinc-950/50 hidden" id="login-dialog">
			<section class="flex flex-col p-4 bg-white rounded w-full max-w-xs">
				<button class="ml-auto close">
					<i class="las la-times text-2xl"></i>
				</button>

				<h2 class="text-xl font-medium">Log In</h2>	
				<p>Welcome back to Outfit Designer.</p>

				<form class="flex flex-col mt-3">
					<label for="email-input" class="text-sm font-medium mb-1">E-mail</label>
					<input type="email" id="email-input" name="email" class="text-sm p-2 border border-zinc-400 rounded mb-2">
					<label for="password-input" class="text-sm font-medium mb-1">Password</label>
					<input type="Password" id="password-input" name="password" class="text-sm p-2 border border-zinc-400 rounded mb-2">
					<button class="w-full p-2 bg-zinc-950 text-white font-medium text-sm rounded hover:bg-zinc-800 mt-2" hx-post="/log-in">Submit</button>
				</form>
				<a href="#sign-up" class="text-sm text-center mt-2 text-zinc-600 hover:text-zinc-950" id="signup-toggle">New here? Sign Up</a>
			</section>	
		</section>
		<section class="flex justify-center items-center w-full h-screen fixed top-0 left-0 bg-zinc-950/50 hidden" id="signup-dialog">
			<section class="flex flex-col p-4 bg-white rounded w-full max-w-xs">
				<button class="ml-auto close">
					<i class="las la-times text-2xl"></i>
				</button>

				<h2 class="text-xl font-medium">Sign Up</h2>	
				<p>Welcome to Outfit Designer.</p>

				<form class="flex flex-col mt-3">
					<label for="name-input" class="text-sm font-medium mb-1">Name</label>
					<input type="text" id="name-input" name="name" class="text-sm p-2 border border-zinc-400 rounded mb-2">
					<label for="email-input" class="text-sm font-medium mb-1">E-mail</label>
					<input type="email" id="email-input" name="email" class="text-sm p-2 border border-zinc-400 rounded mb-2">
					<label for="password-input" class="text-sm font-medium mb-1">Password</label>
					<input type="Password" id="password-input" name="password" class="text-sm p-2 border border-zinc-400 rounded mb-2">
					<button class="w-full p-2 bg-zinc-950 text-white font-medium text-sm rounded hover:bg-zinc-800 mt-2" hx-post="/sign-up">Submit</button>
				</form>
				<a href="#log-in" class="text-sm text-center mt-2 text-zinc-600 hover:text-zinc-950" id="login-toggle">Already have an account? Log In</a>
			</section>	
		</section>
	</body>
	<script src="/js/index.js"></script>
</html>
