{% extends "base.html" %}
{% block content %}
	<section class="w-full max-w-3xl pt-4 z-10">
		<header class="flex flex-row justify-between items-center relative">
			<h2 class="text-lg sm:text-base font-bold">Your Outfits</h2>

			<section class="flex flex-row">
				<button class="flex flex-row items-center text-sm p-2 hover:bg-zinc-200 rounded min-w-16 dark:hover:bg-zinc-800" onclick="toggleFiltersMenu(event)">
					<i class="las la-filter text-xl mr-1"></i>
					Filters
				</button>	
				<ul class="hidden absolute left-0 top-full translate-y-4 p-4 bg-zinc-200 rounded flex flex-col w-full col-span-2 sm:w-auto sm:left-auto sm:right-0 z-20 dark:bg-zinc-800" id="filters-menu">
					<form hx-post="/outfits/filter" hx-swap="innerHTML" hx-target="#outfits-list">
						<p class="col-start-1 col-end-2 flex flex-col">
							<label for="clothes-input" class="text-sm font-medium mb-1">Clothes</label>
							<input name="clothes" id="clothes-input" type="number" value="0"
								{% if data['error'] == True %}
									class="text-sm p-2 border border-red-500 rounded mb-3 bg-white dark:bg-transparent">
								{% else %}
									class="text-sm p-2 border border-zinc-400 rounded mb-3 bg-white dark:bg-transparent dark:border-zinc-600">
								{% endif %}
						</p>
						<p class="col-start-1 col-end-2 flex flex-col">
							<label for="season-input" class="text-sm font-medium mb-1">Season</label>
							<select name="season" id="season-input"
								{% if data['error'] == True %}
									class="text-sm p-2 border border-red-500 rounded mb-3 bg-white dark:bg-transparent">
								{% else %}
									class="text-sm p-2 border border-zinc-400 rounded mb-3 bg-white dark:bg-transparent dark:border-zinc-600">
								{% endif %}
								<option value="all" selected>All</option>
								<option value="summer">Summer</option>
								<option value="autumn">Autumn</option>
								<option value="winter">Winter</option>
								<option value="spring">Spring</option>
							</select>
						</p>
						<button class="w-full p-2 bg-zinc-950 text-white font-medium text-sm rounded hover:bg-zinc-800 mt-2 col-start-1 col-end-2 dark:bg-white dark:text-black dark:hover:bg-zinc-200">Apply</button>
					</form>
				</ul>
				<a href="/outfits/new" class="text-sm text-center font-medium text-white ml-5 p-2 bg-zinc-950 hover:bg-zinc-800 rounded min-w-16 flex flex-row items-center dark:bg-white dark:text-black dark:hover:bg-zinc-200">
					<i class="las la-plus text-xl mr-1"></i>
					Add outfit
				</a>
			</section>
		</header>
		<section class="grid grid-cols-2 gap-2 mt-4 sm:grid-cols-3" id="outfits-list">
			{% with outfits=outfits %}
				{% include 'components/outfit.html' %}
			{%  endwith %}
		</section>
	</section>
	{% include 'components/delete-confirmation.html' %}
	<script src="/static/js/outfits.js"></script>
{% endblock %}
