<!DOCTYPE html>
<html lang="en">
	{% include 'components/head.html' %}
	<body>
		{% include 'components/navbar.html' %}
		{% include 'components/progress-bar.html' %}
		<main class="flex justify-center w-full pt-[53px] px-4">
			<section class="w-full max-w-3xl pt-4">
				<header class="flex flex-row justify-between items-center mb-2">
					<h2 class="text-lg font-bold">{{ outfit['name'].capitalize() }}</h2>
				</header>
				<section class="flex flex-col">
					<img src="{{ outfit['image'] }}" class="max-w-xs mb-2 rounded">
					<section class="flex flex-row gap-2 mb-2">
						{% for clothing in data['outfit']['clothes'] %}
							<a href="/closet/{{ clothing['_id'] }}">
								<img src="{{ clothing['image'] }}" class="w-[120px] border hover:border-zinc-950 cursor-pointer border-zinc-200">
							</a>
						{% endfor %}
					</section>
					<span><span class="font-medium">Season:</span> {{ outfit['season'].capitalize() }}</span>
				</section>
			</section>
		</main>
	</body>
</html>
