@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-request {
	animation:
		loadingWidth 0.25s forwards,
		loadingColor 0.5s infinite;
}

@keyframes loadingWidth {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes loadingColor {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 75%;
	}
	100% {
		opacity: 100%;
	}
}

@view-transition {
	navigation: auto;
}
