<form class="flex flex-col mt-3" id="forgot-password-form">
	<label for="email-input" class="text-sm font-medium mb-1">E-mail</label>
	<input type="email" id="email-input" name="email" value="{{ data["email"] }}"
	{% if data["error"] == True %}
		class="text-sm p-2 border border-red-500 rounded mb-2">
		<p class="text-sm text-red-500 col-start-1 col-end-2">An account could not be found for the provided e-mail.</p>
	{% else %}
		class="text-sm p-2 border border-zinc-200 rounded mb-2">
	{% endif %}
	{% if data["success"] == True %}
		<p class="text-sm text-green-600 col-start-1 col-end-2">An e-mail has been sent to your address.</p>
	{% endif %}
	<button class="w-full p-2 bg-zinc-950 text-white font-medium text-sm rounded hover:bg-zinc-800 mt-2" hx-post="/auth/forgot-password" hx-swap="outerHTML transition:true" hx-target="#forgot-password-form">Submit</button>
</form>
