<header
	class="flex flex-row justify-center items-center p-3 w-full border-b border-zinc-200 fixed top-0 left-0 bg-white min-h-[56px] sm:min-h-auto sm:p-2 sm:px-4 z-30 dark:bg-zinc-900 dark:border-zinc-600">
	<section
		class="flex flex-row justify-between items-center w-full max-w-3xl">
		{% if request.path[0:8] == '/outfits' or request.path[0:7] == '/closet'
		or request.path[0:8] == '/account' %}
		<a ="/outfits" class="font-bold">Outfit Designer</a>
		{% else %}
		<a href="/" class="font-bold">Outfit Designer</a>
		{% endif %}
		<nav
			class="hidden items-center justify-center flex-col w-screen h-screen fixed bg-white inset-0 sm:flex sm:w-auto sm:h-auto sm:flex-row sm:static dark:bg-zinc-900"
			id="menu">
			{% if request.path[0:8] == '/outfits' %}
			<a
				href="/outfits"
				class="text-2xl text-zinc-950 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 font-medium sm:text-sm dark:text-white dark:hover:text-white">
				<i class="las la-home text-xl mr-1"></i>
				Outfits
			</a>
			{% else %}
			<a
				href="/outfits"
				class="text-2xl text-zinc-600 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 sm:text-sm dark:text-zinc-300 dark:hover:text-white">
				<i class="las la-home text-xl mr-1"></i>
				Outfits
			</a>
			{% endif %} {% if request.path[0:7] == '/closet' %}
			<a
				href="/closet"
				class="text-2xl text-zinc-950 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 font-medium sm:text-sm dark:text-white dark:hover:text-white">
				<i class="las la-suitcase text-xl mr-1"></i>
				Closet
			</a>
			{% else %}
			<a
				href="/closet"
				class="text-2xl text-zinc-600 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 sm:text-sm dark:text-zinc-300 dark:hover:text-white">
				<i class="las la-suitcase text-xl mr-1"></i>
				Closet
			</a>
			{% endif %} {% if request.path[0:8] == '/account' %}
			<a
				href="/account"
				class="text-2xl text-zinc-950 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 font-medium sm:text-sm dark:text-white dark:hover:text-white">
				<i class="las la-user-circle text-xl mr-1"></i>
				Profile
			</a>
			{% else %}
			<a
				href="/account"
				class="text-2xl text-zinc-600 hover:text-zinc-950 sm:ml-5 flex flex-row items-center py-2 sm:text-sm dark:text-zinc-300 dark:hover:text-white">
				<i class="las la-user-circle text-xl mr-1"></i>
				Profile
			</a>
			{% endif %}
		</nav>
	</section>
</header>
<script src="/static/js/navbar.js"></script>
