{% if data['closet']|length != 0 %}
	{% for clothing_item in data['closet'] %}
		<section class="flex flex-col p-3 rounded border border-zinc-200 dark:border-zinc-600" id={{ clothing_item['_id'] }}>
			<img src="{{ clothing_item['image'] }}" alt="" class="w-full rounded mb-2">	
			<header class="flex flex-row justify-between items-center">
				<a href="/closet/{{ clothing_item['_id'] }}" class="text-base font-bold hover:underline">{{ clothing_item['name'].capitalize() }}</a>
				<button class="p-1 relative hover:bg-zinc-200 rounded-full dark:hover:bg-zinc-800" onclick="toggleMenu(event)">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
					</svg>
					<ul class="absolute right-0 top-8 min-w-36 bg-white rounded border border-zinc-200 hidden dark:bg-zinc-900 dark:border-zinc-600">
						<li class="flex justify-between items-center text-sm font-medium w-full p-2 hover:bg-zinc-200 dark:hover:bg-zinc-800" onclick="showDeletionModal(event)">
							Delete clothing 
							<i class="las la-trash text-lg text-red-600"></i>
						</li>
					</ul>
				</button>
			</header>
			<span class="text-sm"><span class="font-medium">Brand</span>: {{ clothing_item['brand'].capitalize() }}</span>
			<span class="text-sm"><span class="font-medium">Type</span>: {{ clothing_item['type'].capitalize() }}</span>
			<span class="text-sm">
				<span class="font-medium">Colors</span>:
				{% for color in clothing_item['colors'] %}
					{% if loop.index < clothing_item['colors']|length: %}
						{{ color.capitalize() }}, 
					{% else %}
						{{ color.capitalize() }}
					{% endif %}
				{% endfor %}
			</span>
		</section>	
	{% endfor %}
{% else %}
	<h3 class="font-medium col-start-2 col-end-3 text-center">
		You haven't added clothes yet!
	</h3> 
{% endif %}
