{% if data['outfits']|length != 0 %}
	{% for outfit in data['outfits'] %}
	<section class="flex flex-col p-3 rounded border border-zinc-200 dark:border-zinc-600" id={{ outfit['_id'] }}>
		<img src={{ outfit['image'] }} alt="" class="w-full rounded mb-2">	
		<header class="flex flex-row justify-between items-center">
			<a href={{ '/outfits/{}'.format(outfit['_id']) }} class="text-base font-bold hover:underline" onclick="showLoadingBar()">{{ outfit['name'] }}</a>
			<button class="p-1 flex justify-center items-center relative z-0 aspect-square hover:bg-zinc-200 rounded-full dark:hover:bg-zinc-800" onclick="toggleMenu(event)">
				<i class="las la-ellipsis-v text-xl z-0"></i>
				<ul class="absolute right-0 top-8 min-w-36 bg-white rounded border border-zinc-200 hidden dark:bg-zinc-900 dark:border-zinc-600">
					<li class="flex justify-between items-center text-sm font-medium w-full p-2 hover:bg-zinc-200 z-10 dark:hover:bg-zinc-800" onclick="showDeletionModal(event)">
						Delete Outfit
						<i class="las la-trash text-lg text-red-600"></i>
					</li>
				</ul>
			</button>
		</header>
		<span class="text-sm"><span class="font-medium">Clothes:</span> {{ outfit['clothes']|length }}</span>
		<span class="text-sm"><span class="font-medium">Season:</span> {{ outfit['season'].capitalize() }} </span>
		<span class="text-sm"><span class="font-medium">Created:</span> {{ outfit['created'] }} </span>
	</section>	
	{% endfor %}
{% else %}
	<h3 class="font-medium col-start-2 col-end-3 sm:col-start-2 sm:col-end-3 text-center">You haven't created an outfit yet!</h3>
{% endif %}
