{% if outfits|length != 0 %}
	{% for outfit in outfits %}
	<section class="flex flex-col p-3 rounded border">
		<img src={{ outfit['image'] }} alt="" class="w-full rounded mb-2">	
		<header class="flex flex-row justify-between items-center">
			<a href={{ '/outfits/{}'.format(outfit['_id']) }} class="text-base font-bold">{{ outfit['name'] }}</a>
			<button class="p-1 relative z-0">
				<i class="las la-ellipsis-v text-xl"></i>
				<ul class="absolute right-0 top-8 min-w-36 bg-white rounded border hidden">
					<li class="flex justify-between items-center text-sm font-medium w-full p-2 hover:bg-zinc-200" hx-delete={{ '/outfits/delete/{}'.format(outfit['_id']) }} hx-swap="innerHTML" hx-target="#outfits-list">
						Delete Outfit
						<i class="las la-trash text-xl text-red-600"></i>
					</li>
				</ul>
			</button>
		</header>
		<span class="text-sm">Clothes: {{ outfit['clothes']|length }}</span>
		<span class="text-sm">Season: {{ outfit['season'].capitalize() }} </span>
		<span class="text-sm">Created: {{ outfit['created'] }} </span>
	</section>	
	{% endfor %}
{% else %}
	<h3 class="font-medium col-start-2 col-end-3 text-center">You haven't created an outfit yet!</h3>
{% endif %}
